Skip to content
Personal Open source Business Explore Pricing
This repository
Search
Sign in or Sign up
 Watch 1  Star 0  Fork 0 smedapati1/adWidget
 Code  Issues 0  Pull requests 0  Projects 0  Pulse  Graphs
Branch: master Find file Copy pathadWidget/inde.css
Fetching contributors…
Cannot retrieve contributors at this time
RawBlameHistory     
63 lines (51 sloc)  945 Bytes

.divTable{

    width: 100%;
}
.divTableRow {

    float:left;
    overflow:hidden;
    clear:both;
}


.ad_container{
    position : relative;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width:100%;
    margin : 0px;
    padding:0px;
    overflow:hidden;
    float:left;


}

.image_container {
    position:relative;
   width:90%;
   min-width: 65px;
    height:90%;
}
.main_container {
    background-color: transparent;
    width: 100%;
    height:100%;
    min-width:15%;

}

.ad_owner{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    color:gray;
    width: 100%;
    text-align: right;
    font-weight: bold;
    float:left;
    overflow:hidden;

}

.ad_caption{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    width: 100%;
    text-align: left;
    font-weight: bold;
    float:left;
    
}
